body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #333;
    font-size: 24px;
    margin: 20px 0;
  }
  .custom-marker {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: red;
    font-weight: bold;
  }
  